/* montserrat-alternates-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    src: local(''),
            url('../fonts/montserrat-alternates-v12-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../fonts/montserrat-alternates-v12-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-alternates-500 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 500;
    src: local(''),
            url('../fonts/montserrat-alternates-v12-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../fonts/montserrat-alternates-v12-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-700 - cyrillic */
@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/noto-serif-v9-cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/noto-serif-v9-cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-serif-v9-cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-serif-v9-cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-serif-v9-cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-serif-v9-cyrillic-700.svg#NotoSerif') format('svg'); /* Legacy iOS */
}
/* didact-gothic-regular - latin_cyrillic */
@font-face {
    font-family: 'Didact Gothic';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/didact-gothic-v14-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/didact-gothic-v14-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}